body, 
html

:root {
    --dark-bg: #0B2545;
    --dark-fnt: #FFFFFA;
    --dark-scd:  #13315C;

    --light-bg: #FFFFFF;
    --light-fnt: #37323E;
    --light-scd: #6D6A75;

    --btn: #DEB841;
    --btn-fnt: #0D1821;
}

body {
    background-color: var(--light-scd);
}

p, h1, h2, h3 {
    color: var(--light-fnt);
}

.mode, .msc {
    font-family: "Andika", sans-serif;
    background-color: var(--btn);
    color: var(--btn-fnt);
}

.art {
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
}

.songs {
    width: 90%;
    margin: 30px auto;
}

.card {
    font-family: "Andika", sans-serif;
    width: 100%;
    height: 40px;
    margin: 25px 0;
    text-align: left;
    box-shadow: 10px 10px var(--btn);

    background-color: var(--light-bg);
}

