:root {
    --dark-bg: #0B2545;
    --dark-fnt: #FFFFFA;
    --dark-scd:  #13315C;

    --light-bg: #FFFFFF;
    --light-fnt: #37323E;
    --light-scd: #6D6A75;

    --btn: #DEB841;
    --btn-fnt: #0D1821;
}

.mode, .msc {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--btn);
    color: var(--btn-fnt);
}

.art {
    align-items: center;
}

.songs {
    display: flex;
    justify-content: center;
}