body, 
html

:root {
    --dark-bg: #0B2545;
    --dark-fnt: #FFFFFA;
    --dark-scd:  #13315C;

    --light-bg: #FFFFFF;
    --light-fnt: #26212c;
    --light-scd: #7180AC;

    --primary: var(--light-bg);
    --scd: var(--light-scd);
    --fnt: var(--light-fnt);

    --btn: #DEB841;
    --btn-scd: #0D1821;
}

body {
    background-color: var(--scd);
}

p, h1, h2, h3 {
    color: var(--fnt);
}

h1 {
    font-size: 40px;
}

.mode, .msc {
    font-family: fantasy;
    background-color: var(--btn);
    color: var(--btn-scd);
    transition: 0.3s;
}
.mode{
    font-size: 25px;
}

.mode:hover, .msc:hover {
    background-color: var(--btn-scd);
    color: var(--btn);
}

.art {
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;    
}

.songs {
    width: 90%;
    margin: 30px auto;
}

.card {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    max-height: 160px;
    margin: 25px 0;
    box-shadow: 10px 10px var(--btn);
    background-color: var(--primary);
    transition: 0.3s;
    padding-left: 40px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.card:hover {
    transform: scale(1.05);
}

#input{
  font-size: 30px;
  font-family: sans-serif;
  width: 450px;
}

.top {
    display: flex;
}