:root {
    --dark-bg: #0B2545;
    --dark-fnt: #FFFFFA;
    --dark-scd:  #13315C;

    --light-bg: #FFFFFF;
    --light-fnt: #26212c;
    --light-scd: #7180AC;

    --btn: #DEB841;
    --btn-scd: #0D1821;
    
    --primary: var(--light-bg);
    --scd: var(--light-scd);
    --fnt: var(--light-fnt);
}

dark-mode {
    --primary:var(--dark-bg);
    --scd: var(--dark-scd);
    --fnt: var(--dark-fnt);
}

light-mode {
    --primary: var(--light-bg);
    --scd: var(--light-scd);
    --fnt: var(--light-fnt);
}


body, 
html

body {
    background-color: var(--scd);
}

p, h1, h2, h3 {
    color: var(--fnt);
}

h1 {
    font-size: 40px;
}

.msc {
    font-family: fantasy;
    background-color: var(--btn);
    color: var(--btn-scd);
    transition: 0.3s;
    font-size: 20px;
}
.add{
    font-family: fantasy;
    background-color: var(--btn);
    color: var(--btn-scd);
    transition: 0.3s;
    font-size: 25px;
    height: 40px;
}
.mode {
    font-family: fantasy;
    background-color: var(--btn);
    color: var(--btn-scd);
    transition: 0.3s;
    font-size: 25px;
    height: 40px;
    width: 40px;
}

.mode:hover, .msc:hover {
    background-color: var(--btn-scd);
    color: var(--btn);
}

.art {
    align-items: center;
    justify-content: center;
    max-height: 150px;
    max-width: 150px;    
}

.songs {
    width: 90%;
    margin: 30px auto;
}

.card {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    max-height: 160px;
    margin: 25px 0;
    box-shadow: 10px 10px var(--btn);
    background-color: var(--primary);
    transition: 0.3s;
    padding-left: 40px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.card:hover {
    transform: scale(1.05);
}

#new{
    font-size: 30px;
    font-family: sans-serif;
    width:640px;
}

.arte {
    margin-left: 5%;
    font-size: 30px;
    font-family: sans-serif;
    width:640px;
}

#srch {
    width: 600px;
    font-size: 30px;
    font-family: sans-serif;
}

.top {
    display: flex;
    padding-left: 5%;
}
.plus {
    padding-left: 5%;
    width: 600px;
}
